.rero-detailed-view {
    .rero-metadata {
        ul {
            margin: 0;
            padding: 0;
        }
        li {
            list-style: none;
        }
    }
    h2 {
        font-size: 15px;
        margin-top: 0px;
        margin-bottom: 8px;
    }
    h3 {
        font-size: 13px;
        margin: 3px 0px 8px 0px;
    }
}
