$icon-font-path: "/static/node_modules/bootstrap-sass/assets/fonts/";
$fa-font-path: "/static/node_modules/font-awesome/fonts";

@import "./variables.scss";
@import "../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap";
@import "../node_modules/font-awesome/scss/font-awesome";

@import "./search.scss";
@import "./detailed-view.scss";

header {
    background: url('/static/img/header-bg.jpg') no-repeat scroll center top #FFFFFF;
    height: 170px;
    margin-bottom: 20px;
    nav.navbar {
        background: transparent;
        border: none;
    }
}

.rero-brief-view {
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid $gray-lighter;
    .caption {
        color: $gray-light;
    }
}
.rero-brand {
    form {
        margin-top: 17px;
    }
    img {
        height: 93px;
        padding-top: 0;
        padding-bottom: 0;
    }
}
