# -*- coding: utf-8 -*-
#
# This file is part of Invenio.
# Copyright (C) 2015, 2016, 2017 CERN.
#
# Invenio is free software; you can redistribute it
# and/or modify it under the terms of the GNU General Public License as
# published by the Free Software Foundation; either version 2 of the
# License, or (at your option) any later version.
#
# Invenio is distributed in the hope that it will be
# useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
# General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with Invenio; if not, write to the
# Free Software Foundation, Inc., 59 Temple Place, Suite 330, Boston,
# MA 02111-1307, USA.
#
# In applying this license, CERN does not
# waive the privileges and immunities granted to it by virtue of its status
# as an Intergovernmental Organization or submit itself to any jurisdiction.

## Usage: docker-compose up; docker-compose exec web ./populate.sh
## alias invenio='docker-compose exec web invenio'
## invenio --help
## tests: docker-compose exec web ./tests.sh
## debug: echo "FLASK_DEBUG=1" > .env; docker-compose up

# celery:
#   restart: "always"
#   image: rero/reroils-app:dev
#   volumes:
#     - /Users/maj/devel/projects/reroils-app:/home/invenio/reroils:cached
#   environment:
#     - FLASK_DEBUG
#     - INVENIO_SEARCH_ELASTIC_HOSTS=elasticsearch
#     - INVENIO_SQLALCHEMY_DATABASE_URI=postgresql+psycopg2://reroils:dbpass123@postgresql:5432/reroils
#     - INVENIO_CELERY_BROKER_URL=amqp://guest:guest@rabbitmq:5672//
#     - INVENIO_CELERY_RESULT_BACKEND=redis://redis:6379/1
#     - INVENIO_CACHE_REDIS_URL='redis://redis:6379/1'
#     - INVENIO_ACCOUNTS_SESSION_REDIS_URL='redis://redis:6379/0'
#     - INVENIO_DB_VERSIONING=0
#   links:
#     - postgresql
#     - redis
#     - elasticsearch
#     - rabbitmq
#   command: ['./celery.sh']

# web:
#   restart: "always"
#   image: rero/reroils-app:dev
#   volumes:
#     - /Users/maj/devel/projects/reroils-app:/home/invenio/reroils:cached
#   environment:
#     - FLASK_DEBUG
#     - INVENIO_SEARCH_ELASTIC_HOSTS=elasticsearch
#     - INVENIO_SQLALCHEMY_DATABASE_URI=postgresql+psycopg2://reroils:dbpass123@postgresql:5432/reroils
#     - INVENIO_CELERY_BROKER_URL=amqp://guest:guest@rabbitmq:5672//
#     - INVENIO_CELERY_RESULT_BACKEND=redis://redis:6379/1
#     - INVENIO_CACHE_REDIS_URL='redis://redis:6379/1'
#     - INVENIO_ACCOUNTS_SESSION_REDIS_URL='redis://redis:6379/0'
#     - INVENIO_DB_VERSIONING=0
#   links:
#     - postgresql
#     - redis
#     - elasticsearch
#     - rabbitmq
#   ports:
#     - "5000:5000"
#   command: ['./start.sh']

postgresql:
  restart: "always"
  image: postgres
  environment:
    - POSTGRES_USER=reroils
    - POSTGRES_DB=reroils
    - POSTGRES_PASSWORD=dbpass123
  ports:
    - "5432:5432"

redis:
  restart: "always"
  image: redis
  ports:
    - "6379:6379"

elasticsearch:
  restart: "always"
  image: elasticsearch:2
  ports:
    - "9200:9200"
    - "9300:9300"

rabbitmq:
  restart: "always"
  image: rabbitmq:3-management
  ports:
    - "4369:4369"
    - "5672:5672"
    - "15672:15672"
kibana:
    image: sxmichael/kibana
    ports:
        - 5601:5601
    links:
       - elasticsearch
