
<footer class="footer">
    <hr>
    <div class="container">
        <div class="col-md-6 push-left">
            <ul class="nav nav-pills">
                <li role="presentation"><a href="#">Home</a></li>
                <li role="presentation"><a href="#">Contact</a></li>
                <li role="presentation"><a href="#">RERO Explore</a></li>
            </ul>
        </div>
        <div class="col-md-6 text-right">
            <p>Powered by <a href="http://invenio-software.org">Invenio</a> / &copy; Copyright <a href="http://www.rero.ch/">RERO</a></p>
        </div>
    </div>
</footer>
