{% import 'rerodoc_app/record_brief.html' as record_brief %}
{% extends config.BASE_TEMPLATE %}


{%- macro metadata(data, config) %}
  {% for conf in config %}
    {% set parent_loop = loop %}
    {% for key in conf %}
      {% for format in key | format_metadata(data, current_i18n.locale.language) %}
        <dt>{{ _(format.label) | title }}</dt>
        <dd>
          <ul>
            {% for value in format.value %}
            <li>{{ value | safe }}</li>
            {% endfor %}
          </ul>
        </dd>

      {% endfor %}
          {% if loop.last and not parent_loop.last %}
          <hr/>
        {% endif %}
    {% endfor %}
  {% endfor %}

{%- endmacro %}

{%- macro record_content(data) %}
  {% for key, value in data.items() recursive %}
    <li class="list-group-item">
    {% if value is mapping %}
        <strong>{{ key }}:</strong>
        <ul class="list-group">{{ loop(value.items()) }}</ul>
    {% elif value is iterable and value is not string %}
        <strong>{{ key }}:</strong>
        <ol>
        {% for item in value %}
          <li>
          {% if item is mapping %}
            <ul class="list-group">
              {{ record_content(item) }}
            </ul>
          {% else %}
            {{ item }}
          {% endif %}
          </li>
        {% endfor %}
        </ol>
    {% else %}
      <strong>{{ key }}:</strong> {{ value }}
    {% endif %}
    </li>
  {% endfor %}
{%- endmacro %}

{%- macro menu_box(title, entries) %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{ _(title) }}</h3>
      </div>
      <div class="panel-body">
        <ul class="nav nav-pills nav-stacked">
        {% for item in entries %}
          <li role="presentation">
            <a href={{ item.url }}>
                {{ _(item.label) }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
{%- endmacro %}

{%- block page_body %}
<div class="container rero-detailed-view">

  {%- block record_body %}
    {% if record %}
    {{ record_brief.briefs(record) }}
    {% endif %}
  {%- endblock %}

  <div class="row">
  {%- block record_menu %}
  <div class="rero-menu col-md-3">
    {{ menu_box(_('See also'), [{'label': 'Similar Records', 'url': '#'}]) }}
    {{ menu_box(_('Links'), [{'label': 'Permalink', 'url': record|permalink}]) }}
    {{ menu_box(_('Share'), [
      {'label': 'LinkedIn', 'url': '#'},
      {'label': 'Facebook', 'url': record|facebook},
      {'label': 'Tweeter', 'url': '#'}
      ])
    }}
    {{ menu_box(_('Export As'), [
      {'label': 'JSON', 'url': url_for('invenio_records_ui.recid_export', pid_value=record.get('recid'), format='json')},
      {'label': 'MarcXML', 'url': url_for('invenio_records_ui.recid_export', pid_value=record.get('recid'), format='xm')},
      {'label': 'JSON-LD', 'url': url_for('invenio_records_ui.recid_export', pid_value=record.get('recid'), format='ld')},
      {'label': 'Turtle', 'url': url_for('invenio_records_ui.recid_export', pid_value=record.get('recid'), format='turtle')},
      {'label': 'RDF', 'url': url_for('invenio_records_ui.recid_export', pid_value=record.get('recid'), format='rdf')}
      ])
    }}
  </div>
  {%- endblock %}

  {%- block record_metadata %}
  <div class="rero-metadata col-md-9">
  {% if record %}

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#details" aria-controls="details" role="tab" data-toggle="tab">Details</a></li>
    {% if record.summary %}
    <li role="presentation"><a href="#summary" aria-controls="summary" role="tab" data-toggle="tab">Summary</a></li>
    {% endif %}
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="details">
    <p>
    <dl class="dl-horizontal rero-metadata">
    {% set config=[
      ['title', 'other_title', 'author', 'editor',
       'thesis director','thesis codirector'],
      ['language', 'edition', 'publication', 'print',
       'printer', 'collation', 'series'],
      ['imported_keyword', 'keyword', 'udc', 'meeting',
       'content_note', 'note'],
      ['other_edition', 'external_link', 'digitization',
       'isbn' ,'type', 'recid', 'reroid']
      ]
     %}
      {{ metadata(record, config) }}
    </dl>
    </p>
    </div>
    <div role="tabpanel" class="tab-pane" id="summary">
    <p>
    <dl>
      {% for summary in record.summary %}
      <dt>{{ summary.language | translate_language(current_i18n.locale.language) }}</dt>
      <dd>
      <p>
        {{ summary.value }}
      </p>
      </dd>
      {% endfor %}
      </dl>
      </p>
    </div>
  </div>


  {% endif %}
  </div>
  {%- endblock %}
  </div>

</div>
{%- endblock page_body %}
